<!DOCTYPE html>
<html>
    <head>
        <title>PC's Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/blog.css" rel="stylesheet" media="screen">
        <!-- js -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/blog.js"></script>
    </head>
    <body onload='javascript: addPopStateListener()'>
        <div class='container-fluid panel'>

            <div class='row-fluid'>
                <!-- header -->
                <div id='header' class='col-lg-12 col-xs-12 col-md-12 page-header'>
                    <h1 id='header-text'>PC's Blog</h1> 
                </div>
            </div>

            <!-- body -->
            <div id='body' class='row-fluid'>
                <div id='body-left' class='col-lg-3 col-xs-3 col-md-3'>
                    <div id='post-classification' class='panel panel-default'>
                        <div id='post-classification-title' class='panel-heading'><strong>文章分类</strong></div>
                        <div id='post-classification-list' class='panel-body'>
                            <ul class='list-group'>
                                {% for c in c_list %}
                                    <li class='list-group-item'><a href='javascript: get_abstract_by_cid_and_page_num({{ c.id }}, 1, false)'+>{{ c.name }}</a><span class='badge'>{{ c.post_num }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id='post-rank' class='panel panel-default'>
                        <div id='post-rank-title' class='panel-heading'><strong>阅读排行</strong></div>
                        <div id='post-rank-list' class='panel-body'>
                            <ol class='list-group'>
                                {% for post in rank_5_abstract %}
                                    <li class='list-group-item'><a href='javascript: get_a_post({{ post.id }}, false)'>{{forloop.counter}}. {{ post.title }}({{ post.visit_count }})</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                
                <div id='body-right' class='col-lg-9 col-xs-9 col-md-9'>
                    {% block body-right %}{% endblock %}
               </div>
            </div>

            <!-- footer -->
            <div id='footer' class='row-fluid'>
                <div class='col-lg-12 col-xs-12 col-md-12'>
                    <span id='footer-text' class='text-center'>Copyright ©2016 pczhou</span>
                </div>
            </div>

        </div>

    </body>
</html>
