#header {
    background-color: #6f5499;
    padding-left: 30px;
}

#footer {
    background-color: #6f5499;
    padding: 15px;
}

#header-text, #footer-text {
    color: white;
    display: block;
}

.container-fluid {
    padding-top: 120px;
    padding-bottom: 100px;
}
