#header, #footer{
    background-color: #6f5499;
    padding: 5px;
}

#header-text, #footer-text {
    color: white;
    display: block;
}

#header {
    margin-top: 0;
    padding-left: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-fluid {
    padding-bottom: 100px;
}
